
.pdf-class pdf-viewer{
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
}
.menu-class{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}
.menu-class button{
    height: 45px;
}
.zoom-in{
    margin-left: 300px;
}

.zoom-out{
    margin-left: 30px;
    width: 45px;
}

.reset{
    margin-left: 30px;
}
.hide{
    margin-left: 300px;
}
.hidden-button{
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 1;
}
