<div class="pdf-class" *ngIf="presentation">
  
  <pdf-viewer src="../assets/pdf/{{presentation.path}}.pdf"
  [original-size] = "true"
  [fit-to-page]="true"
  [render-text]="false"
  [zoom]="pdfZoom"
  >
  </pdf-viewer>
</div>

<mat-toolbar class="menu-class">
  <button mat-raised-button (click)="goBack()">Return to Table</button>
  <button mat-raised-button class="zoom-in" (click)="zoom_in()">+</button>
  <button mat-raised-button class="zoom-out" (click)="zoom_out()">-</button>
  <button mat-raised-button class="reset" (click)="reset_zoom()">Reset Zoom</button>
</mat-toolbar>
<!-- <mat-toolbar class="menu-class" > 
  <button mat-raised-button (click)="goBack()">Return to Table</button>
  <button mat-raised-button (click)="zoom_in()">+</button>
  <button mat-raised-button (click)="zoom_out()">-</button>
</mat-toolbar> -->

