.pdf-class{
    height: 10px;
}
.pdf-class pdf-viewer{
    display:inline-block;
    max-width:100%;
}
.menu-class{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}
.menu-class button{
    height: 45px;
}
.zoom-in{
    margin-left: 300px;
    width: 45px;
    font-size: 40px;
}

.zoom-out{
    margin-left: 30px;
    width: 45px;
    font-size: 40px;
}

.reset{
    margin-left: 30px;
    font-size: 20px;
}
