
<h1 class="title-header">Space Power Workshop Poster Viewer</h1>
<mat-form-field class="filter-form">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
  
<table mat-table
        [dataSource]="dataSource" multiTemplateDataRows
        class="mat-elevation-z8">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Author(s) </th>
    <td mat-cell *matCellDef="let element"> {{element.author}} </td>
  </ng-container>

  <ng-container matColumnDef="org">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Organization </th>
    <td mat-cell *matCellDef="let element"> {{element.org}} </td>
  </ng-container>
    

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <img src="assets/img/{{element.path}}.jpg" height="450" width="800">
            <a href="assets/pdf/{{element.path}}.pdf" target="_blank">
            <button mat-flat-button>Open Poster</button>
          </a>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
  
 