.zoom {
  zoom: 100%;
}
.title-header {
    font-size: 150 px;
    font: bold;
    text-align: center;
    color: indigo;
  }
.filter-form{
    /* margin-left: 100px; */
    width: 500px;
}
table {
    width: 100%;
  }
th.mat-sort-header-sorted {
color: black;
}
tr.example-detail-row {
height: 0;
}
th {
font-size: 30px;
}
tr.example-element-row:not(.example-expanded-row):hover {
background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
background: #efefef;
}

.example-element-row td {
border-bottom-width: 0;
font-size: 26px;
padding: 8px 8px 8px 8px;
}

.example-element-detail {
overflow: hidden;
display: flex;
}

button {
    height: 50px;
    width: 200px;
    font-size: 26px;
    margin: 0;
    position: absolute;
    left:75%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 200px;
}
input {
    font-size: 26px;
}

img {
  border-radius: 8px;
  height: 450px;
  width: auto;
  border: 3px solid black;

}